:root {
  --uv-collapse-item-border-bottom: 1px solid #f5f6f7;
  --uv-collapse-item-font-size: 14px;
  --uv-collapse-item-title-padding: 10px 0;
  --uv-collapse-item-content-padding: 12px 0;
  --uv-collapse-item-bottom-line-border-bottom: 1px solid #f5f6f7;
  --uv-collapse-item-transition-time: 0.3s;
}

.uv-collapse-item {
  font-size: var(--uv-collapse-item-font-size);
  border-bottom: var(--uv-collapse-item-border-bottom);
  .collapse-item-title {
    display: flex;
    justify-content: space-between;
    padding: var(--uv-collapse-item-title-padding);
    .collapse-item-right {
      display: flex;
      align-items: center;
      .collapse-item-arrow {
        margin-left: 10px;
        transition: all var(--uv-collapse-item-transition-time);
      }
      .collapse {
        transform: rotate(-180deg);
      }
    }
  }
  .collapse-item-title-disabled {
    color: #c8c9cc;
  }
  .collapse-item-bottom-line {
    border-bottom: var(--uv-collapse-item-bottom-line-border-bottom);
  }
  .collapse-item-content-wrapper {
    overflow: hidden;
    transition: height var(--uv-collapse-item-transition-time) ease-in-out;
    .collapse-item-content {
      padding: var(--uv-collapse-item-content-padding);
    }
  }
}