:root {
  --uv-grid-item-content-padding: 16px 8px;
  --uv-grid-item-content-active-bg-color: #f2f3f5;
  --uv-grid-item-content-text-white-space: nowrap;
  --uv-grid-item-content-text-font-size: 12px;
  --uv-grid-item-content-text-color: #323233;
  --uv-grid-item-content-text-margin: 8px;
  --uv-grid-item-border: 1px solid #f7f8f9;
}

.uv-grid-item {
  .uv-grid-item-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--uv-grid-item-content-padding);
    width: 100%;
    .uv-grid-item-content-text {
      font-size: var(--uv-grid-item-content-text-font-size);
      white-space: var(--uv-grid-item-content-text-white-space);
      color: var(--uv-grid-item-content-text-color);
    }
  }
  .uv-grid-item-content-direction-column {
    flex-direction: column;
    .uv-grid-item-content-text {
      margin-top: var(--uv-grid-item-content-text-margin);
    }
  }
  .uv-grid-item-content-direction-column-reverse {
    flex-direction: column-reverse;
    .uv-grid-item-content-text {
      margin: 0;
      margin-bottom: var(--uv-grid-item-content-text-margin);
    }
  }
  .uv-grid-item-content-direction-row {
    flex-direction: row;
    .uv-grid-item-content-text {
      margin-left: var(--uv-grid-item-content-text-margin);
    }
  }
  .uv-grid-item-content-direction-row-reverse {
    flex-direction: row-reverse;
    .uv-grid-item-content-text {
      margin: 0;
      margin-right: var(--uv-grid-item-content-text-margin);
    }
  }
}
.uv-grid-item-clickable {
  .uv-grid-item-content {
    &:active {
      background-color: var(--uv-grid-item-content-active-bg-color) !important;
    }
  }
}
.uv-grid-item-border {
  border-right: var(--uv-grid-item-border);
  border-bottom: var(--uv-grid-item-border);
}