:root {
  --uv-input-wrap-font-size: 14px;
  --uv-input-wrap-padding: 0 10px;
  --uv-input-word-limit-font-size: 12px;
  --uv-input-word-limit-padding-bottom: 5px;
  --uv-input-word-limit-color: #646566;
  --uv-input-padding: 5px 0;
  --uv-input-border-radius: 4px;
  --uv-input-bg-color: #ffffff;
  --uv-input-height: 32px;
  --uv-input-placeholder-color: #d3c9d6;
  --uv-input-disabled-color: #d3c9d6;
}

.uv-input-wrap {
  display: flex;
  padding: var(--uv-input-wrap-padding);
  font-size: var(--uv-input-wrap-font-size);
  border-radius: var(--uv-input-border-radius);
  background-color: var(--uv-input-bg-color);
  flex-direction: column;
  .uv-input {
    position: relative;
    display: flex;
    align-items: center;
    input,
    textarea {
      padding: var(--uv-input-padding);
      width: 100%;
      border: none;
      background-color: var(--uv-input-bg-color);
      outline: none;
    }
    input {
      height: var(--uv-input-height);
    }
    textarea {
      resize: none;
    }
    input::placeholder,
    textarea::placeholder {
      color: var(--uv-input-placeholder-color);
    }
    input:disabled,
    textarea:disabled {
      color: var(--uv-input-disabled-color);
    }
  }
  .uv-input-word-limit {
    padding-bottom: var(--uv-input-word-limit-padding-bottom);
    font-size: var(--uv-input-word-limit-font-size);
    text-align: right;
    white-space: nowrap;
    color: var(--uv-input-word-limit-color);
  }
}