:root {
  --uv-pagination-font-size: 14px;
  --uv-pagination-content-item-size: 34px;
  --uv-pagination-content-item-color: #606266;
  --uv-pagination-content-item-gap: 8px;
  --uv-pagination-content-item-border-radius: 2px;
  --uv-pagination-content-item-active-color: #ffffff;
  --uv-pagination-content-item-bg-color: #f0f2f5;
  --uv-pagination-content-item-acitve-bg-color: #409eff;
  --uv-pagination-disabled-color: #bbbec4;
  --uv-pagination-text-padding: 0 5px;
}

.uv-pagination {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--uv-pagination-content-item-gap);
  font-size: var(--uv-pagination-font-size);
  .uv-pagination-content {
    display: flex;
    align-items: center;
    gap: var(--uv-pagination-content-item-gap);
    .uv-pagination-content-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: var(--uv-pagination-content-item-size);
      height: var(--uv-pagination-content-item-size);
      border-radius: var(--uv-pagination-content-item-border-radius);
      color: var(--uv-pagination-content-item-color);
      background-color: var(--uv-pagination-content-item-bg-color);
    }
    .uv-pagination-content-item-active {
      color: var(--uv-pagination-content-item-active-color);
      background-color: var(--uv-pagination-content-item-acitve-bg-color);
    }
  }
  .uv-pagination-prev,
  .uv-pagination-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--uv-pagination-content-item-size);
    height: var(--uv-pagination-content-item-size);
    border-radius: var(--uv-pagination-content-item-border-radius);
    background-color: var(--uv-pagination-content-item-bg-color);
    &:active {
      opacity: 0.6;
    }
  }
  .uv-pagination-prev-text,
  .uv-pagination-next-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--uv-pagination-text-padding);
    height: var(--uv-pagination-content-item-size);
    border-radius: var(--uv-pagination-content-item-border-radius);
    white-space: nowrap;
    color: var(--uv-pagination-content-item-color);
    background-color: var(--uv-pagination-content-item-bg-color);
    &:active {
      opacity: 0.6;
    }
  }
  .uv-pagination-prev-disabled,
  .uv-pagination-next-disabled {
    color: var(--uv-pagination-disabled-color);
    background-color: var(--uv-pagination-content-item-bg-color);
    &:active {
      opacity: 1;
    }
  }
}