:root {
  --uv-slider-height: 3px;
  --uv-slider-border-radius: 50px;
  --uv-slider-circle-content-size: 24px;
  --uv-slider-circle-content-bg-color: #ffffff;
  --uv-slider-circle-content-box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  --uv-slider-value-disabled-bg-color: #88c0fa !important;
  --uv-slider-disabled-circle-content-box-shadow: 0 1px 2px rgb(0 0 0 / 40%);
}

.uv-slider {
  position: relative;
  margin: 10px 0;
  width: 100%;
  height: var(--uv-slider-height);
  border-radius: var(--uv-slider-border-radius);
  .uv-slider-value {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    height: var(--uv-slider-height);
    border-radius: var(--uv-slider-border-radius);
    transition: all 0.1s;
    .uv-slider-circle {
      position: absolute;
      right: -1px;
      cursor: grab;
      transform: translateY(-50%);
      .uv-slider-circle-content {
        width: var(--uv-slider-circle-content-size);
        height: var(--uv-slider-circle-content-size);
        border-radius: 50%;
        background-color: var(--uv-slider-circle-content-bg-color);
        box-shadow: var(--uv-slider-circle-content-box-shadow);
      }
    }
  }
  .uv-slider-value-disabled {
    background-color: var(--uv-slider-value-disabled-bg-color);
    .uv-slider-circle-content {
      cursor: not-allowed;
      box-shadow: var(--uv-slider-disabled-circle-content-box-shadow);
    }
  }
}