:root {
  --uv-tab-bar-height: 50px;
}

.uv-tab-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: var(--uv-tab-bar-height);
  .uv-tab-bar-placeholder {
    height: var(--uv-tab-bar-height);
  }
}
.uv-tab-bar-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}