:root {
  --uv-nav-bar-height: 46px;
  --uv-nav-bar-center-max-width: 60%;
  --uv-nav-bar-center-font-size: 16px;
  --uv-nav-bar-center-font-weight: 700;
  --uv-nav-bar-center-color: #323233;
  --uv-nav-bar-left-right-padding: 0 16px;
  --uv-nav-bar-left-right-font-size: 14px;
  --uv-nav-bar-left-text-padding-left: 5px;
}

.uv-nav-bar {
  position: relative;
  .uv-nav-bar-placeholder {
    height: var(--uv-nav-bar-height);
  }
  .uv-nav-bar-content {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--uv-nav-bar-height);
    .uv-nav-bar-center {
      margin: 0 auto;
      max-width: var(--uv-nav-bar-center-max-width);
      font-size: var(--uv-nav-bar-center-font-size);
      font-weight: var(--uv-nav-bar-center-font-weight);
      white-space: nowrap;
      color: var(--uv-nav-bar-center-color);
    }
    .uv-nav-bar-left,
    .uv-nav-bar-right {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      padding: var(--uv-nav-bar-left-right-padding);
      font-size: var(--uv-nav-bar-left-right-font-size);
    }
    .uv-nav-bar-left {
      left: 0;
      .uv-nav-bar-left-text {
        padding-left: var(--uv-nav-bar-left-text-padding-left);
      }
    }
    .uv-nav-bar-right {
      right: 0;
    }
  }
}
.uv-nav-bar-fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
}