:root {
  --uv-notice-bar-padding: 0 16px;
  --uv-notice-bar-height: 40px;
  --uv-notice-bar-line-height: 24px;
  --uv-notice-bar-icon-padding: 10px;
  --uv-notice-bar-content-text-font-size: 14px;
}

.uv-notice-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--uv-notice-bar-padding);
  height: var(--uv-notice-bar-height);
  line-height: var(--uv-notice-bar-line-height);
  .uv-notice-bar-icon {
    padding-right: var(--uv-notice-bar-icon-padding);
  }
  .uv-notice-bar-content-right {
    padding-left: var(--uv-notice-bar-icon-padding);
  }
  .uv-notice-bar-content {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%;
    flex: 1;
    .uv-notice-bar-content-text {
      position: absolute;
      font-size: var(--uv-notice-bar-content-text-font-size);
      white-space: nowrap;
      transition-timing-function: linear;
    }
    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}