:root {
  --uv-tab-bg-color: #ffffff;
  --uv-tab-font-size: 14px;
  --uv-tab-height: 44px;
  --uv-tab-padding: 0 12px;
  --uv-tab-line-bg-color: #1989fa;
  --uv-tab-line-height: 3px;
  --uv-tab-border-radius: 3px;
  --uv-tab-item-color: #646566;
  --uv-tab-acitve-item-color: #323233;
  --uv-tab-acitve-item-font-weight: 700;
  --uv-tab-item-margin: 10px;
}

.uv-tab-wrap {
  overflow: hidden;
  .uv-tab {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: var(--uv-tab-height);
    font-size: var(--uv-tab-font-size);
    background-color: var(--uv-tab-bg-color);
    .uv-tab-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: var(--uv-tab-line-height);
      border-radius: var(--uv-tab-border-radius);
      background-color: var(--uv-tab-line-bg-color);
    }
    .uv-tab-item {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--uv-tab-item-color);
    }
    .uv-tab-acitve-item {
      font-weight: var(--uv-tab-acitve-item-font-weight);
      color: var(--uv-tab-acitve-item-color);
    }
  }
  .uv-tab-scroll {
    justify-content: inherit;
    overflow-x: auto;
    padding: var(--uv-tab-padding);
    transition: all 0.3s;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 0 var(--uv-tab-item-margin);
    .uv-tab-item {
      white-space: nowrap;
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .uv-tab-shrink {
    justify-content: flex-start;
    padding: var(--uv-tab-padding);
    gap: 0 var(--uv-tab-item-margin);
  }
}