:root {
  --uv-stepper-gap: 2px;
  --uv-stepper-input-color: #323233;
  --uv-stepper-bg-color: #f2f3f5;
  --uv-stepper-active-bg-color: #f7f8f9;
  --uv-stepper-disabled-bg-color: #f7f8fa;
  --uv-stepper-border-radius: 4px;
}
.uv-stepper {
  display: flex;
  gap: var(--uv-stepper-gap);
  align-items: center;
  input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    color: var(--uv-stepper-input-color);
    background-color: var(--uv-stepper-bg-color);
    outline: none;
  }

  @mixin common {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    background-color: var(--uv-stepper-bg-color);
  }
  .uv-stepper-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .uv-stepper-minus {
    @include common;

    border-radius: var(--uv-stepper-border-radius) 0 0 var(--uv-stepper-border-radius);
    &:active {
      background-color: var(--uv-stepper-active-bg-color);
    }
  }
  .uv-stepper-input {
    @include common;
  }
  .uv-stepper-add {
    @include common;

    border-radius: 0 var(--uv-stepper-border-radius)  var(--uv-stepper-border-radius) 0;
    &:active {
      background-color: var(--uv-stepper-active-bg-color);
    }
  }
  .uv-stepper-disabled {
    background-color: var(--uv-stepper-disabled-bg-color);
    cursor: not-allowed;
  }
}