:root {
  --uv-steps-padding: 10px;
  --uv-steps-bg-color: #ffffff;
}

.uv-steps {
  padding: var(--uv-steps-padding);
  background-color: var(--uv-steps-bg-color);
  .uv-steps-content {
    position: relative;
    display: flex;
  }
}