:root {
  --uv-picker-title-btn-font-size: 14px;
  --uv-picker-title-font-size: 16px;
  --uv-picker-title-font-weight: 700;
  --uv-picker-title-color: #323233;
  --uv-picker-title-padding: 2px 0 12px;
  --uv-picker-title-left-text-color: #969799;
  --uv-picker-title-right-text-color: #576b95;
  --uv-picker-content-height: 230px;
  --uv-picker-content-wrapper-border-top-and-bottom: 1px solid #f7f8f9;
  --uv-picker-content-wrapper-box-shadow: 0 0 5px #f7f8f9;
  --uv-picker-content-item-font-size: 16px;
}

.uv-picker {
  .uv-picker-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--uv-picker-title-padding);
    font-size: var(--uv-picker-title-btn-font-size);
    .uv-picker-title-left {
      color: var(--uv-picker-title-left-text-color);
    }
    .uv-picker-title-center {
      font-size: var(--uv-picker-title-font-size);
      font-weight: var(--uv-picker-title-font-weight);
      color: var(--uv-picker-title-color);
    }
    .uv-picker-title-right {
      color: var(--uv-picker-title-right-text-color);
    }
  }
  .uv-picker-content {
    position: relative;
    display: flex;
    overflow: hidden;
    height: var(--uv-picker-content-height);
    cursor: grab;
    .uv-picker-content-wrapper {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 36px;
      border-top: var(--uv-picker-content-wrapper-border-top-and-bottom);
      border-bottom: var(--uv-picker-content-wrapper-border-top-and-bottom);
      box-shadow: var(--uv-picker-content-wrapper-box-shadow);
    }
    .uv-picker-content-box {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style: none;
      transition: all 0.2s;
      flex: 1;
      transition-timing-function: cubic-bezier(0.23, 1, 0.68, 1);
      .uv-picker-content-item {
        height: 36px;
        font-size: var(--uv-picker-content-item-font-size);
        text-align: center;
        transition: color 0.5s;
        line-height: 36px;
      }
    }
  }
}