:root {
  --uv-overlay-transition-time: 0.5s;
}

.uv-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.overlay-enter-active,
.overlay-leave-active {
  transition: opacity var(--uv-overlay-transition-time) ease;
}
.overlay-enter-from,
.overlay-leave-to {
  opacity: 0;
}